
$font-stack: Canada1500, Helvetica, sans-serif;

$palette: (
    "bg":				    #ffffff,
    "text-light":           #000000,
    "text-light-accent":    #760003,
    "text-dark":            #ffffff,
    "text-dark-accent":     lighten(#e55555, 15),    
    "primary":              #ad1f2c,
    "primary-light":        #e55555,
    "primary-dark":         #760003, 
    "green":                #7bedab,		   
);


@function _palette($key) {
	@return map-get($palette, $key);
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-stack;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

#main-title {
    text-align: center;
    margin: 1rem auto 2rem;

    h1 {
        text-transform: uppercase;
        margin: 0px;
    }

    h3 {
        margin: 0px;
    }
}

h2 {
    margin-bottom: 2rem;
}

.dark {
    background-color: _palette("primary");
    color: _palette("text-dark");

    a {
        color: _palette("text-dark");
        border-bottom: 1px _palette("text-dark") dashed;
    
        &:hover {
            color: _palette("text-dark-accent");
            border-bottom: none;
        }
    }
}

.light {
    background-color: _palette("bg");
    color: _palette("text-light");

    a {
        color: _palette("text-light");
        border-bottom: 1px _palette("text-light") dashed;
    
        &:hover {
            color: _palette("text-light-accent");
            border-bottom: none;
        }
    }
}

footer {
    font-size: 1rem;
    text-align: right;
    padding: 0.5rem 2rem;
}

ol {
    list-style: none;
    counter-reset: good-ol-counter;

    li {
        counter-increment: good-ol-counter;
        position: relative;
    }

    li::before {
        content: counter(good-ol-counter)".";
        font-weight: bold;
        color: _palette("primary");
        margin-right: 1rem;
    }
}