
$header-font-stack: Canada1500, Helvetica, sans-serif;
$body-font-stack: Helvetica, Arial, sans-serif;

$palette: (
    "bg":				    #ffffff,
    "text":                 #000000,
    "text-accent":          #760003,
    "text-light":           #ffffff,
    "text-light-accent":      lighten(#e55555, 15),
    "red":                  #ad1f2c,
    "light-red":            #e55555,
    "dark-red":             #760003,
    "green":                #7bedab,
);


@function _palette($key) {
	@return map-get($palette, $key);
}

html {
    overflow-x: hidden;
}

body {
    font-family: $body-font-stack;
    font-size: 1.5rem;
    line-height: 2.3rem;

    background-color: _palette("bg");
    color: _palette("text");

    a {
        color: _palette("text-accent");

        &:hover {
            color: _palette("text");
            text-decoration: none;
            border-bottom: 1px _palette("text-accent") dashed;
        }
    }
}

span.caption {
    font-size: 90%;
}

// Headers

h1, h2, h3, h4 {
    font-family: $header-font-stack;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    color: _palette("text-accent");
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

div.header {
    border-bottom: 3px solid _palette("red");

    h2 {
        font-size: 3rem;
        background-color: _palette("bg");
    }

}


// Sections and columns

#main-title {
    text-align: center;
    margin: 0rem auto 2rem;

    h1 {
        text-transform: uppercase;
        margin: 0px;
    }

    h3 {
        margin: 0px;
    }
}

.split-content {
    margin-top: 3rem;
    padding-top: 1rem;
}

section:nth-child(n+2) {
    margin-top: 2rem;
}


#objections .split-content {
    h3:nth-child(n+2) {
        margin-top: 2rem;
    }

    p {
        margin-left: 2rem;
        text-align: justify;
    }
}

// Alternative colours

.bg-red {
    background-color: _palette("red");
    color: _palette("text-light");

    a {
        color: _palette("text-light");
        border-bottom: 1px _palette("text-light") dashed;

        &:hover {
            color: _palette("text-light-accent");
            border-bottom: none;
        }
    }
}

footer {
    font-size: 1rem;
    text-align: right;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}

// List

ol {
    list-style-type: none;
    display: table;
    counter-reset: good-ol-counter;

    li {
        display: table-row;
        counter-increment: good-ol-counter;
    }

    li::before {
        content: counter(good-ol-counter)".";
        font-weight: bold;
        color: _palette("red");
        display: table-cell;
        text-align: right;
        padding-right: 1rem;
    }
}

ul {
    list-style-type: none;
    display: table;

    li {
        display: table-row;
    }

    li::before {
        content: "\2022";
        font-weight: bold;
        color: _palette("red");
        display: table-cell;
        text-align: right;
        padding-right: 1rem;
    }
}
